<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/templates.fragments/head.html :: head"/>
<body style="background-color: grey;">

<navbar th:insert="/templates.fragments/navbar.html :: navbar"/>




<header style="text-align: center">
    <div class="container">
        <h2>Registrar Noticia</h2>
        <br>
    </div>
</header>

<div class="container" style="text-align: center;">
    <form action="/noticia/registro" method="post" enctype="multipart/form-data">

        <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
            <div class="card-body">
                <h5 class="card-title">Error 👎</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
            <div class="card-body">
                <h5 class="card-title">Exito!</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>


        <div class="mb-3-auto">
            <label for="titulo" class="form-label">Ingrese el titulo de la noticia </label> <br>
            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo de noticia">
            <div id="emailHelp" class="form-text">El titulo debe ser unico.</div>
        </div>
        <div class="mb-3-auto">
            <label for="resumen" class="form-label"> Resumen de noticia</label> <br>
            <input type="text" class="form-control" id="resumen" name="copete" placeholder="contenido">
        </div>
        <div class="mb-3-auto">
            <label for="cuerpo" class="form-label"> Desarrollo de noticia</label> <br>
            <input type="text" class="form-control" id="cuerpo" name="cuerpo" placeholder="contenido">
        </div>
        <div class="mb-3-auto">
            <label for="imagen" class="form-label"> Desea añadir alguna imagen?</label> <br>
            <input type="file" class="form-control" id="imagen" name="archivo">
        </div>

        <button type="submit" class="btn btn-primary"> Crear</button>

    </form>

    <button><a class="btn btn-primary" th:href="@{/}"> Volver </a></button>
</div>


<footer th:insert="/templates.fragments/footer.html :: footer"/>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>
</html>
